nav {
    background-color: #ffffff;
    border-bottom: 1px solid #C4C4C4;
}

.searchDev::placeholder {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.sign-in {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-weight: 700;
}

.sign-in:hover {
    -webkit-box-shadow: 0px 0px 8px -5px #000000;
    box-shadow: 0px 0px 8px -5px #000000;
}

.sign-up {
    background-color: #7F0303;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
}

.sign-up:hover {
    background-color: #ffffff;
    color: #7F0303;
    border: 1px solid #7F0303;
}


.myCourses {
    font-weight: 600;
    font-size: 14px;

}

.menuContainer {
    position: relative;

}

.avatar {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.menu {
    position: absolute;
    background-color: #ffffff;
    left: -100px;
    -webkit-box-shadow: 0px 3px 10px -2px #000000;
    box-shadow: 0px 3px 10px -2px #000000;
    z-index: 0;

}

.menuOption {
    border-bottom: 1px solid black;
    text-align: center;
}

.menuOpen {
    animation: animateMenuOpen .5s forwards;
}

.menuClose {
    animation: animateMenuClose .5s forwards;
}

@keyframes animateMenuOpen {
    from {
        opacity: 0;
        top: 0px
    }

    to {
        opacity: 1;
        top: 40px;
        z-index: 100;
    }
}

@keyframes animateMenuClose {
    from {
        opacity: 1;
        top: 40px;
        pointer-events: none;
        z-index: 100;
    }

    to {
        opacity: 0;
        top: 0px;
        pointer-events: none;
        z-index: 0;
    }
}
