/*
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #E5E5E5;
    height: 100%;

}
*/


a {
    text-decoration: none;
    color: #000000;
}


.signContainer {
    background: #ffffff;
    border: 0.5px solid #B8B8B8;
    box-sizing: border-box;
    border-radius: 10px;
}

.signInTxt {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.btnSign {
    background: #7F0303;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.signUpBottom {
    color: #7F0303;
    font-weight: 700;
    cursor: pointer;
}

/*
.signUpBottom:hover {
    color: #7F0303;
}
*/

.txtForgot {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #7F0303;
}

.txtNoAcc {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #000000;
}

